<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<%= render 'post_images/list', post_images: @post_images %>
